:root {
  --text-main: #000;
  --text-sec: #adadad;

  --color-main: #ffcf31;
  --color-sec: #23477a;
  --shadow-main: 0.2rem 0.2rem 0.3rem var(--shadow-color-main);
  --shadow-color-main: #000;
  --color-fire: #dc143c;
  --color-water: #add8e6;
  --color-grass: #90ee90;

  --anim-time-main: 2000ms;
  --anim-delay-main: 2000ms;
  --anim-diff: 500ms;
}

body {
  height: 100vh;

  margin: 0;
  padding: 0;

  overflow: hidden;
  font-family: "Lato", sans-serif;
}

.container {
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 20% 50% 30%;
  grid-template-areas:
    "nav aside"
    "main  aside"
    "footer aside";
}

.navbar {
  max-width: 800px;

  margin: 2% 2% 2% 5%;

  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: space-between;

  animation: var(--anim-time-main) navbar-anim var(--anim-delay-main) ease-in-out;
}

@keyframes navbar-anim {
  0% {
    transform: translateY(-800px);
  }

  100% {
    transform: translateY(0px);
  }
}

.navbar a{
  width: 30%;
  max-width: 200px;
}

.navbar a:hover{
  cursor: pointer;
}

.navbar__img {
  width: 100%;
  filter: drop-shadow(var(--shadow-main));
}

.navbar__list {
  width: 70%;

  padding: 0;

  display: flex;
  justify-content: space-around;
}

.navbar__list__opt {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-main);
}

.main-content {
  max-width: 80%;
  height: fit-content;

  margin: 5% 10%;
  grid-area: main;

  animation: var(--anim-time-main) maincont-anim var(--anim-delay-main) ease-in-out;
}

@keyframes maincont-anim {
  0% {
    transform: translateX(-800px);
  }

  100% {
    transform: translateX(0px);
  }
}

.main-content__title-main {
  width: fit-content;
  min-width: 315px;

  margin: 2% 0;

  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}

.main-content__title-sec {
  font-size: 3rem;
  font-weight: 700;
}

.main-content__text {
  max-width: 80%;

  font-size: 1rem;
  color: var(--text-sec);
}

.side-content {
  grid-area: aside;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-areas: "text image";
  place-items: center;

  background: linear-gradient(90deg,
      transparent 50%,
      var(--color-main) 50%,
      var(--color-main) 100%);
}

.side-content__img {
  width: 100%;

  grid-area: image;

  filter: drop-shadow(var(--shadow-main));

  transition: all 500ms ease-in-out;
  animation: var(--anim-time-main) imgside-anim var(--anim-delay-main) ease-in-out;
}

.side-content__img:hover {
  transform: scale(1.2);
  translate: 0 -40px;
  cursor: pointer;
}

@keyframes imgside-anim {
  0% {
    transform: translateY(800px);
  }

  100% {
    transform: translateY(0px);
  }
}

.side-content__text {
  grid-area: text;

  font-size: 3rem;

  transform: rotate(-90deg) translateY(60px);
  animation: var(--anim-time-main) pside-anim var(--anim-delay-main) ease-in-out;
}

@keyframes pside-anim {

  0%,
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.pkmn-container {
  grid-area: footer;
  display: grid;
  grid-template-columns: repeat(3, 20%);
  grid-template-rows: 50% 50%;
  justify-content: space-around;
  align-items: flex-end;

  background: var(--color-main);
  border-radius: 0 50px 0 0;
}

.pkmn-container__bckg {
  width: 100%;
  height: 100%;

  grid-row: 2/2;
  display: flex;
  justify-content: center;

  border-radius: 20% 20% 0 0;
}

.pkmn-container__bckg:hover img {
  transform: scale(1.2);
  translate: 0 -40px;
  cursor: pointer;

  transition: all 500ms ease-in-out;
}

.pkmn-container__bckg__img {
  width: 13%;

  position: absolute;
  bottom: 5%;

  filter: drop-shadow(var(--shadow-main));
  transition: all 500ms ease-in-out;
}

.bckg-water {
  background-color: var(--color-water);
}

.bckg-grass {
  background: var(--color-grass);
}

.bckg-fire {
  background-color: var(--color-fire);
}

.bckg-water img {
  animation: var(--anim-time-main) pokemon-anim var(--anim-delay-main);
}

.bckg-grass img {
  animation: calc(var(--anim-time-main) + var(--anim-diff)) pokemon-anim var(--anim-delay-main);
}

.bckg-fire img {
  animation: calc(var(--anim-time-main) + var(--anim-diff) * 2) pokemon-anim var(--anim-delay-main);
}

@keyframes pokemon-anim {
  0% {
    transform: translateY(800px);
  }

  100% {
    transform: translateY(0px);
  }
}

.loader {
  width: 100%;
  height: 100%;

  display: flex;
  position: absolute;
  top: 0;
  align-items: center;
  justify-content: center;

  background: var(--color-main);

  animation: loader 3s linear forwards;
}

@keyframes loader {
  0% {
    opacity: 1;
    visibility: visible;
  }

  90% {
    opacity: 1;
    visibility: hidden;
  }

  99% {
    height: 100%;
  }

  100% {
    opacity: 0;
    height: 0;
  }
}

.loader__img {
  width: 80px;
  height: 80px;

  margin: 8px;

  filter: drop-shadow(var(--shadow-main));

  animation: scaling var(--anim-time-main) ease-in-out;
}

@keyframes scaling {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.2);
  }
}

.loader__img--sec {
  animation-delay: calc(var(--anim-diff) / 2);
}

.loader__img--third {
  animation-delay: calc(var(--anim-diff));
}

.modal {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.modal__bckg {
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
}

.hidden {
  display: none;
}

.modal__content {
  border-radius: 1rem;
  width: 35%;
  height: 45%;

  position: absolute;

  display: grid;
  grid-template-columns: 7% 86% 7%;
  grid-template-rows: 80% 20%;
  grid-template-areas:
    "empty cards close"
    "empty button other";
  align-items: flex-start;
  justify-items: center;

  background: white;
}

.modal__content__button-sec {
  grid-area: close;
  width: 100%;
  height: auto;
  margin: 15%;
  visibility: hidden;

  align-self: flex-start;
  justify-self: end;
}

.modal__content__button-sec--close {
  width: 100%;
  height: 100%;
  visibility: visible;
}

.modal__content__button-sec:hover {
  cursor: pointer;
}

.modal__content__slider {
  grid-area: cards;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.slider__radio {
  display: none;
}

.card-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  position: absolute;
  margin: 1%;
  cursor: pointer;
  background: var(--color-main);
  display: flex;
  align-items: center;
  width: 30%;
  height: 60%;
  transition: transform 0.3s ease;
}

#radio-1:checked~.card-container #card-1,
#radio-2:checked~.card-container #card-2,
#radio-3:checked~.card-container #card-3 {
  transform: translateX(0) scale(1);
  opacity: 1;
  z-index: 1;
  cursor: auto;
}

#radio-1:checked~.card-container #card-2,
#radio-2:checked~.card-container #card-3,
#radio-3:checked~.card-container #card-1 {
  transform: translateX(-40%) scale(0.8);
  opacity: 0.5;
  z-index: 0;
}

#radio-1:checked~.card-container #card-3,
#radio-2:checked~.card-container #card-1,
#radio-3:checked~.card-container #card-2 {
  transform: translateX(40%) scale(0.8);
  opacity: 0.5;
  z-index: 0;
}

.card img {
  width: 100%;
  height: auto;
}

.modal__content__button-primary {
  grid-area: button;
  width: 50%;
  height: 70%;
  background-color: var(--color-sec);
  color: white;
  border: none;
  border-radius: 1.2rem;
}

.modal__content__button-primary:hover {
  cursor: pointer;
}