body{
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: "Lato", sans-serif;
}

.page{
  position: relative;
  height: 100vh;
}

/* .loader{
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background: green;
  z-index: 3;

  animation: loader 3s linear forwards;
}

@keyframes loader {
  0%{
    opacity: 1;
    visibility: visible;
  }
  95%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    display: none;
  }
}

.loader div{
  background: lightblue;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px;

  animation: scaling 2s ease-in-out;
}

@keyframes scaling {
  0%, 100%{
    transform: scale(1);
  }
  50%{
    transform: scale(.2);
  }
}

.loader .loader-center{
  animation-delay: 0.2s;
}

.loader .loader-center{
  animation-delay: 0.4s;
}

.loader .loader-last{
  animation-delay: 0.6s;
} */

.navbar{
  padding: 50px;
  display: inline-flex;
  width: 55%;
}

.navbar-list{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60%;
  padding: 0;
  margin: 0;
}

.navbar-opt{
  list-style: none;
  width: auto;
}

.navbar-opt a{
  text-decoration: none;
  color: black;
}

.img-main{
  width: 80px;
  height: 80px;
}

.main-content{
  width: 80%;
  height: 45%;
  margin: 0;
  display: inline-block;
}

.p-main{
  width: 40%;
  padding: 20px 70px;
  margin: 0;
}

.title-container{
  font-size: 20px;
  padding: 0 80px;
  margin-top: 120px;
  width: 35%;
}

.title-main{
  font-size: 30px;
  margin: 0;
}

.img-title{
  width: 200px;
  display: block;
}

.pokemon{
  position: absolute;
  display: flex;
  width: 55%;
  height: 30%;
  background: lightsalmon;
  bottom: 0;
  border-radius: 0 50px 0 0;
  justify-content: space-around;
  align-items: flex-end;
}

.img-pokemon{
  width: 160px;
  height: 160px;
}

.side-content{
  position: absolute;
  width: 25%;
  display: inline-block;
  top: 0;
  right: 0;
  background: lightsalmon;
  height: 100%;
  align-items: center;
}

.img-side{
  position: absolute;
  top: 20%;
  right: 5%;
  width: 500px;
}

.side-content p{
  font-size: 60px;
  position: absolute;
  top: 45%;
  right: 450px;
  transform: rotate(270deg);
}

.title-sec{
  display: none;
}

.pokemon-container{
  background-color: lightblue;
  border-radius: 50px 50px 0 0;
}

.bulbasaur-bckg{
  background: lightgreen;
}

.charmander-bckg{
  background-color: crimson;
}

.squirtle-bckg{
  background-color: lightblue;
}